<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo List</title>

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="app">
      <!-- HEADER -->
      <header>
        <h2>Cose da fare</h2>
      </header>
      <!-- /HEADER -->
      <!-- MAIN -->
      <div class="container">
        <div class="input-container">
          <label for="" class="hidden">Inserire un compito</label>
          <input
            type="text"
            id="todo-input"
            placeholder="Inserire una cosa da fare"
            v-model="newTask.task"
            @keyup.enter="addTask"
          />
          <button @click="addTask">Invia</button>
        </div>
        <div class="list-container">
          <ul>
            <li class="" v-for="(item, index) in tasks">
              {{ item.task }}
              <div>
                <span class="check" @click="doneTask"
                  ><i class="fa-solid fa-check"></i></span
                ><span class="cancel"
                  ><i class="fa-solid fa-trash-can"></i
                ></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- /MAIN -->
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
